.App {
  margin-top: 4vw;
  top: 60px;
  position: relative;
}

.status-ok {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: green;
}

.status-error {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: red;
}

.instagram-feed-container span {
  margin-right: 20px;
}