.App {
  margin-top: 4vw;
  top: 60px;
  position: relative;
}

.status-ok {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #1AEB25;
}

.status-error {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #FF5000;
  animation: blinker 1.25s infinite;
}

@keyframes blinker {
  
  50% {
    opacity: 0.1;
  }

  100% {
    opacity: 1;
  }
  
  
}



.instagram-feed-container {
  display: flex;
  justify-content: flex-start;
}

.instagram-feed-container .flex-col {
  display: inline-flex;
  width: 24%;
  margin-bottom: 2vw;
}

.instagram-feed-container .flex-col:last-child {
  width: 4%;
}

.instagram-image-thumbnail-list {
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: hidden;
  height: 40px;
}


.instagram-image-thumbnail-list > li > a > img {
  float: left;
  height: 40px !important;
  width: auto !important;
  max-width: 40px;
  max-height: 40px;
  margin-right: 5px;
  display: inline-block;
}